<section class="main-banner-about" style="background-image: url(/assets/img/about/img1.jpg);">
  <div class="container">
    <div class="content-wrapper">
      <h1 class="about_title white mb-4">Nosotros</h1>
      <p>
         En el <strong>Meta Tesis Perú</strong> te asesoramos en la elaboración de tu <strong>tesis e investigación académica</strong>, 
      con calidad y rigor científico en cada etapa.
      </p>
    </div>
  </div>
</section>

<section class="mision-vision">
  <div class="container">

    <div id="slider">
      <input type="radio" name="slider" id="slide1" checked>
      <input type="radio" name="slider" id="slide2">
      <div id="slides">
        <div id="overflow">
          <div class="inner">
              <div class="slide slide_1">
                <div class="content-wrapper modulo__mision">
                  <h2 class="about_title white"> Misión</h2>
                  <p class="about-parrafo">
                     Brindar asesoría científica y académica de alta calidad a profesionales en el desarrollo de sus tesis e investigaciones, 
                    con un enfoque ético y riguroso.
                  </p>
                </div>
              </div>

              <div class="slide slide_2">
                <div class="content-wrapper modulo__vision">
                  <h2 class="about_title white"> Visión</h2>
                  <p class="about-parrafo" >
                    Ser un centro de referencia nacional e internacional en investigación y asesoría académica, 
                    reconocido por impulsar el conocimiento, la innovación y la excelencia científica.
                  </p>
                </div>
              </div>
          </div>
        </div>
    </div>
      <div id="controls">
        <label for="slide1"></label>
        <label for="slide2"></label>
     </div>

     <div id="bullets">
      <label for="slide1"></label>
      <label for="slide2"></label>
    </div>

  </div>


 </div>

</section>


<!-- <section class="mision-vision">
  <div class="container">

    <div id="slider">
      <input type="radio" name="slider" id="slide1" checked>
      <input type="radio" name="slider" id="slide2">
      <div id="slides">
        <div id="overflow">
          <div class="inner">


              <div class="slide slide_1">
                <div class="content-wrapper modulo__mision">
                  <h2 class="about_title white"> Misión</h2>
                  <p class="about_parraf white">
                    Brindar el mejor servicio a nuestros clientes a través de la intermediación inmobiliaria de propiedades que satisfacen las necesidades del mercado. Todo esto gracias a un talentoso equipo de trabajo profesional. Nuestra marca es sinónimo de seguridad y confianza.
                  </p>
                </div>
              </div>

              <div class="slide slide_2">
                <div class="content-wrapper modulo__vision">
                  <h2 class="about_title white"> Visión</h2>
                  <p class="about_parraf white">
                    Ser la empresa referente en el negocio de intermediación inmobiliaria de manera rentable y sostenible, logrando la satisfacción de nuestros clientes.
                  </p>
                </div>
              </div>
          </div>
        </div>


    </div>
      <div id="controls">
        <label for="slide1"></label>
        <label for="slide2"></label>
     </div>

     <div id="bullets">
      <label for="slide1"></label>
      <label for="slide2"></label>
    </div>

  </div>


 </div>

</section>
 -->
