<section class="main-banner"  style="background-image: url(/assets/img/contacto/book.jpg);">
  <div class="container">
    <div class="form-card shadow-sm rounded-4 p-4 p-md-5">
      <!-- Título -->
      <h1 class="display-5 fw-bold mb-3 form-title">Envíanos un mensaje</h1>
      <p class="lead text-muted mb-4">
        Completa el formulario y nos pondremos en contacto contigo lo antes posible.
      </p>

      <form (ngSubmit)="enviarFormulario()" #miFormulario="ngForm" novalidate>
        <div class="mb-4">
          <label for="nombre" class="form-label form-label-lg">Nombre completo*</label>
          <input
            type="text"
            name="name"
            [(ngModel)]="formData.name"
            required
            #name="ngModel"
            placeholder="Nombre"
            class="form-control form-control-lg soft-input"
          />
          <p *ngIf="name.invalid && name.touched" class="text-red-500 text-sm mt-1">Este campo es obligatorio.</p>
        </div>
        <div class="mb-4">
          <label for="phone" class="form-label form-label-lg">Teléfono*</label>
          <input
            type="text"
            name="phone"
            [(ngModel)]="formData.phone"
            required
            #phone="ngModel"
            placeholder="Teléfono"
            class="form-control form-control-lg soft-input"
          />
          <p *ngIf="phone.invalid && phone.touched" class="text-red-500 text-sm mt-1">Este campo es obligatorio.</p>

        </div>
        <div class="mb-4">
          <label for="email" class="form-label form-label-lg">Correo electrónico*</label>
          <input
            type="email"
            name="email"
            [(ngModel)]="formData.email"
            required
            #email="ngModel"
            placeholder="tucorreo@mail.com"
            class="form-control form-control-lg soft-input"
          />
          <p *ngIf="email.invalid && email.touched" class="text-red-500 text-sm mt-1">Este campo es obligatorio.</p>
        </div>

      
     <!--    <div class="mb-4">
          <label for="servicio" class="form-label form-label-lg">Servicio</label>
          <div class="position-relative">
            <select
              id="servicio"
              class="form-select form-select-lg soft-input pe-5"
              aria-label="Selecciona un servicio"
            >
              <option selected>Selecciona un servicio</option>
              <option value="1">Asesoría de tesis</option>
              <option value="2">Corrección de estilo</option>
              <option value="3">Análisis estadístico</option>
            </select>

            <span class="select-caret d-none d-sm-inline">&#x25BE;</span>
          </div>
        </div> -->

        <!-- Mensaje -->
        <div class="mb-2">
          <label for="message" class="form-label form-label-lg">Mensaje</label>
          <textarea
            type="message"
            name="message"
            [(ngModel)]="formData.message"
            required
            #message="ngModel"
            placeholder="Escriba su mensaje aquí..."
            class="form-control form-control-lg soft-input"
          ></textarea>
        </div>

        <div class="mb-4 small text-muted">500 caracteres disponibles</div>

        <!-- Botón -->
        <div class="d-grid">
          <button type="submit" class="btn btn-lg btn-primary form-btn">
            Enviar
          </button>
        </div>
      </form>
        <div
          *ngIf="showSuccessMessage"
          class="text-bgCeleste text-center mt-4 animate-fade-in">
          ¡Gracias por tu mensaje! Lo hemos recibido correctamente y te responderemos a la brevedad.
        </div>
    </div>
  </div>
</section>



