<footer>
  <div class="footer-container py-5 bg-gray-300 text-muted">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
          <h6 class="text-uppercase text-white mb-3">DIRECCIÓN</h6>
          <ul class="list-unstyled">
            <li>
              <span class="text-muted">Chiclayo, Dirección</span>
            </li>
            <li>
              <span class="text-muted">Metatesis Perú</span>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
          <h6 class="text-uppercase text-white mb-3">CONTACTO</h6>
          <ul class="list-unstyled">
            <li>
              <span class="text-muted">+51 947 022 932 | Servicio al Cliente</span>
            </li>
  
            <li>
              <span class="text-muted">contacto.metatesisperu@gmail.com</span>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
          <h6 class="text-uppercase text-white mb-3">Mapa de sitio</h6>
          <ul class="list-unstyled">
            <li>
              <a class="text-muted"  [routerLink]="[ '/' ]">Inicio</a>
            </li>
            <li>
              <a class="text-muted"  [routerLink]="[ '/quienes-somos' ]">¿Quiénes Somos?</a>
            </li>

            <li>
              <a class="text-muted" [routerLink]="[ '/contacto' ]">Contacto</a>
            </li>
            <li>
              <a class="text-muted" href="#">Términos y Condiciones</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
          <h6 class="text-uppercase text-white mb-3">SÍGUENOS EN:</h6>
          <ul class="list-inline">
            <li class="list-inline-item icons">
              <a class="text-muted text-primary-hover" href="https://www.facebook.com/profile.php?id=61580103770908" target="_blank" title="facebook">
                <i class="bi bi-facebook"></i>
              </a>
            </li>
            <li class="list-inline-item icons">
              <a class="text-muted text-primary-hover" href="https://www.instagram.com/metatesisperu/" target="_blank" title="instagram">
                <i class="bi bi-instagram"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="text-center mt-4">
  <p class="small mb-0" style="color:#aaa;">
    By <a href="https://sysweb3.com" target="_blank" 
           style="color:#aaa; text-decoration:none; font-weight:500;">
           sysweb3.com
        </a>
  </p>
</div>
      </div>
    </div>
  </div>
</footer>






































